@page "/acoes";

@using Radzen;

<h1 class="text-center fonteAzul">Ações</h1>
<br/>

<div class="divAcoes">
    <div class="divCadastro divNovaMovimentacao">
        <div class="divIcone">
            <RadzenIcon Icon="attach_money" Style="font-size: 80pt"></RadzenIcon>
        </div>
        <div class="divBtn">
            <RadzenButton Shade="Shade.Darker" ButtonStyle="ButtonStyle.Info" Text="Nova movimentação" />
        </div>
    </div>
    <div class="divCadastro divNovoPerfil">
        <div class="divIcone">
            <RadzenIcon Icon="account_circle" Style="font-size: 80pt"></RadzenIcon>
        </div>
        <div class="divBtn">
            <RadzenButton Shade="Shade.Darker" ButtonStyle="ButtonStyle.Info" Text="Novo usuário/perfil"/>
        </div>
    </div>
</div>


@code {

}
